# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
/build/
pubspec.lock

# Symbols related
app.*.symbols
app.*.map.json

# Build stuff
/android/app/debug
/android/app/profile
/android/app/release

# Build runner related
*.g.dart
*.gr.dart
*.freezed.dart

# Security related
*.keystore
lib/firebase_options.dart
